.BackgroundCircles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Circle {
  position: absolute;
  border-color: #333333;
  border-width: 1px;
  border-radius: 100%;
  border-style: solid;
  margin-top: 13rem;
}

.BackgroundCircles > div:nth-of-type(1) {
  height: 12.5rem;
  width: 12.5rem;
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.BackgroundCircles > div:nth-of-type(2) {
  height: 18.75rem;
  width: 18.75rem;
}

.BackgroundCircles > div:nth-of-type(3) {
  height: 31.25rem;
  width: 31.25rem;
}

.BackgroundCircles > div:nth-of-type(4) {
  border-color: #F7AB0A;
  opacity: 0.2;
  height: 40.6rem;
  width: 40.6rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.BackgroundCircles > div:nth-of-type(5) {
  height: 50rem;
  width: 50rem;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
