.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin-top: 2rem;
}

.Hero__Buttons {
  padding-top: 1.25rem;
}

.Hero__Button {
  border-radius: 9999px;
  border-width: 1px;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-color: #242424;
  text-transform: uppercase;
  color: var(--gray-500);

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.Hero__Button:hover {
  border-width: 1px;
  border-color: rgb(247,171,10, .4);
  color: rgb(247,171,10, .4);
}

.Hero__Title {
  letter-spacing: 15px;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  text-transform: uppercase;
  color: var(--gray-500);
  font-size: small;
}

.Hero__Intro {
  font-size: 3rem !important;
  font-weight: 600 !important;
  line-height: 1;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.Hero__Image {
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

@media screen and (min-width: 80rem) {
  .Hero__Intro {
    font-size: 3.75rem;
  }
}

@media only screen and (min-width: 48rem) {
  .Header__Email p {
    visibility: visible;
    display: inline-flex;
    font-size: small;
    color: var(--gray-400);
  }
}