.About {
  display: flex;
  position: relative;
  flex-direction: column; 
  text-align: center;
  height: 100vh;
  max-width: 80rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.About__Title {
  position: absolute;
  top: 6rem;
  text-transform: uppercase;
  letter-spacing: 1.25rem;
  color: var(--gray-500);
  font-size: 1.5rem;
  line-height: 2rem;
}

.About__Image {
  margin-bottom: -5rem;
  flex-shrink: 0;
  width: 14rem;
  height: 14rem;
  border-radius: 9999px;
  object-fit: cover;
}

.About_Background {
  margin-top: 2.5rem;
  padding-left: 0;
  padding-right: 0;
}

.About_Background h4 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.About_Background h4 span {
  text-decoration-line: underline;
  text-decoration-color: rgb(247,171,10, .5);;
}

.About_Background p {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media only screen and (min-width: 48rem) {
  .About {
    flex-direction: row;
    text-align: left;
  }

  .About__Image {
    margin-bottom: 0;
    border-radius: 0.5rem;
    width: 16rem;
    height: 24rem;
  }

  .About_Background {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (min-width: 80rem) {
  .About__Image {
    width: 31.25rem;
    height: 37.5rem;
  }
}

