.Home {
  background-color: var(--bg-color);
  color: white;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  z-index: 0;
  overflow-x: hidden !important;
}

.Home__Section {
  scroll-snap-align: center;
}

.Home__Footer {
  position: sticky;
  bottom: 1.25rem;
  width: 100%;
  cursor: pointer;
}

.Home__FooterImageCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__Footer img {
  cursor: pointer;
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem;
  filter: grayscale(100%);
}

.Home__Footer img:hover {
  filter: grayscale(0%);
}



#hero {
  scroll-snap-align: start;
}

#contact {
  scroll-snap-align: end;
}

