.ExperienceCard {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 2.5rem;
  align-items: center;
  flex-shrink: 0;
  width: 31.25rem;
  scroll-snap-align: center;
  background-color: #292929;
  opacity: 0.4;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  overflow: hidden;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.ExperienceCard:hover {
  opacity: 1;
  cursor: pointer;
}

/* .ExperienceCard > * {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
} */

.ExperienceCard__Image {
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  object-fit: cover;
  object-position: center;
}

.ExperienceCard__Body {
  padding-left: 0;
  padding-right: 0;
} 

.ExperienceCard__JobTitle{
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 300;
  margin-top: 0.25rem;
}

.ExperienceCard__Company {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.ExperienceCard__UseTech {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  
}

.ExperienceCard__UseTech img {
  height: 4rem;
  width: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 9999px;
}

.ExperienceCard__Date {
  color: var(--gray-300);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
}

.ExperienceCard__SummaryList {
  list-style-type: disc;
  margin-left: 1.25rem;
  font-size: 1.125rem;
}

.ExperienceCard__SummaryList > * {
  margin-top: 1rem;
}

@media only screen and (min-width: 48rem) {
  .ExperienceCard {
    width: 37.5rem  
  }

  .ExperienceCard__Body {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (min-width: 80rem) {
  .ExperienceCard {
    width: 56.25rem  
  }

  .ExperienceCard__Image {
    width: 12.5rem;
    height: 12.5rem;
  }
}
