.Experience {
  display: flex;
  position: relative;
  flex-direction: column; 
  height: 100vh;
  text-align: left;
  max-width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.Experience__Title {
  position: absolute;
  top: 6rem;
  text-transform: uppercase;
  letter-spacing: 1.25rem;
  color: var(--gray-500);
  font-size: 1.5rem;
  line-height: 2rem;
}

.Experience__ExperienceCard {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.Experience__ExperienceCard > * {
  margin-right: 1.25rem;
}

@media only screen and (min-width: 48rem) {
  .Experience {
    flex-direction: row;
  }
}
