@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: rgb(36,36,36);
  --mobile-min: 20rem;
  --tablets-min: 30rem;
  --small-screen-min: 40rem;
  --medium-screen-min: 48rem;
  --large-screen-min: 64rem;
  --xlarge-screen-min: 80rem; 
  --x2large-screen-min: 96rem; 
  --gray-500: #6B7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
}
